extends index.pug

block content
    .container
        .d-none#scanStatus= scanStatus
        .alert.alert-info.m-3#alert Lancer le scan avec le bouton Scanner pour commencer.

        form
            input#launchScanButton.btn.btn-primary(type="button" value="Scanner")
            input#getWeekStatusButton.btn.btn-primary(type="button" value="Afficher les status de cette semaine")

        table.table#weekStatus
            thead
                tr
                    th(scope="col") Etat
                    th(scope="col") IP
                    th(scope="col") date
            tbody
        
        template#statusTemplate
            tr.status
                td.value
                td.ip
                td.date


block script
    script.
        class Model {

            getScanStatus() {
                return document.querySelector('#scanStatus').textContent;
            }

            async getLastWeekScan() {
                let status = [];

                const response = await fetch("/last-week-status");
                status = await response.json();
                
                return status;
            }

            async prepareDate(date) {
                return date.split('T')[0];
            }

            async launchScan() {
                const response = await fetch("/scan", {method: "POST"});
                return await response.json();
            }
        }

        class Controller {
            model;
            view;

            constructor() {
                this.model = new Model();
                this.view = new View();
            }

            init() {
                this.model.getScanStatus();
                this.defineEvents();
            }

            defineEvents() {
                document.querySelector("#getWeekStatusButton").addEventListener('click', async () => {
                    const status = await this.model.getLastWeekScan();
                    this.view.displayWeekStatus(status);
                });

                document.querySelector("#launchScanButton").addEventListener('click', async () => {
                    const scanStatus = await this.model.launchScan();

                    this.view.showScanStatus(scanStatus.scanStatus);
                });
            }
        }

        class View {

            async showScanStatus(scanStatus) {
                const alertDiv = document.querySelector("#alert");

                if (scanStatus) {
                    alertDiv.textContent = "Le scan fonctionne ! Il faut attendre un peu avant d'avoir le résultat complet";
                    alertDiv.classList.remove("alert-info");
                    alertDiv.classList.add("alert-success");
                } else {
                    alertDiv.textContent = "Il y a eu une erreur durant le scan.";
                    alertDiv.classList.remove("alert-info");
                    alertDiv.classList.add("alert-danger");
                }
            }

            async displayWeekStatus(status) {
                const template = document.querySelector('#statusTemplate');
                const tableBody = document.querySelector('#weekStatus>tbody');

                status.forEach((elem) => {
                    const content = template.content.cloneNode(true);
                    let valueDiv = content.querySelector('.value');
                    let ipDiv = content.querySelector('.ip');
                    let dateDiv = content.querySelector('.date');

                    valueDiv.textContent = elem.response;
                    ipDiv.textContent = elem.ip;
                    dateDiv.textContent = elem.date;

                    tableBody.append(content);
                });
            }
        }

        const controller = new Controller();
        controller.init();
